$small-breakpoint: 500px;
$large-breakpoint: 880px;
$link-color: rgb(0, 0, 238);
$light-gray: #CCC;

$secondary-font-family: 'Noto Serif', serif;

$container-side-padding: 2.5rem;

$monospace: 'Source Code Pro', monospace;